:root {
    --main-font-color: #0C0C0C;
    --main-bg-color: white;
    --main-font-family:  Lato;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--main-font-family);
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color) ;
}

li,
a,
h2 {
    text-decoration: none;
    font-weight: 200;
}

/*HOME PAGE LOGIN*/
.box-section{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 6%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-form a{
    font-size: 1.5rem;
}

input{
    margin-top: 30px;
}

input[type=text], input[type=password],input[type=number]{
    padding: 10px;
    width: 400px;
}

#amount-in-currency{
    width: 320px;
    margin-right: 10px;
}

#currency{
    width: 70px;
    padding: 10px;
    outline: none;
}

input[type=submit]{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    padding: 1.2rem 4rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    text-align: center;
    background-color: #009bd6;
    margin-bottom: 40px;
}

.title-large {
    font-size: 4rem;
    font-weight: 600;
}

.title-subs {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: inherit;
}

::placeholder{
    font-size: 1.5rem;
}



/*NAVBAR*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    position: fixed;

}

header h2 a{
    font-size: 4rem;
    color: white;
}

nav ul li {
    margin: 10px;
}

nav ul li {
    display: inline-block;
    font-size: 1.3rem;

}

nav a{
    color: white;
    text-transform: uppercase;
    padding: 10px;
}


a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.85;
    color: var(--main-font-color);
    font-weight: 200;
}

a:hover {
    opacity: 0.5;
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.6rem;

    }
}

@media(max-width: 360px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
        min-width: 350px;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.2rem;

    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-160px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* bannerArea */

.banner-area {
    width: 100%;
    height: 100vh;
    background: url("./../images/b1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-area h1 {
    color: white;
    font-size: 50px;
    animation: drop 1.5s ease;
}

.banner-area p {
    text-indent: 50px;
    text-align: center;
    padding: 20px 250px;
    font-size: 15px;

}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-160px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

