:root {
    --main-font-color: #0C0C0C;
    --main-bg-color: white;
    --main-font-family:  Lato;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--main-font-family);
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: var(--main-bg-color);
    color: var(--main-font-color) ;
}

li,
a,
h2 {
    text-decoration: none;
    font-weight: 200;
}

/*HOME PAGE LOGIN*/
.box-section{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 40px;
    border-radius: 6%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-form a{
    font-size: 1.5rem;
}

input{
    margin-top: 30px;
}

.box-form input[type=text], input[type=password],input[type=number],.box-form input[type=date]{
    padding: 10px;
    width: 400px;
}

#amount-in-currency{
    width: 320px;
    margin-right: 10px;
}

#currency{
    width: 70px;
    padding: 10px;
    outline: none;
}

input[type=submit]{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    padding: 1.2rem 4rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    text-align: center;
    background-color: #009bd6;
    margin-bottom: 40px;
}

.title-large {
    font-size: 4rem;
    font-weight: 600;
}

.title-subs {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: inherit;
}

::placeholder{
    font-size: 1.5rem;
}



/*NAVBAR*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    position: fixed;

}

header h2 a{
    font-size: 4rem;
    color: white;
}

nav ul li {
    margin: 10px;
}

nav ul li {
    display: inline-block;
    font-size: 1.3rem;

}

nav a{
    color: white;
    text-transform: uppercase;
    padding: 10px;
}


a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.85;
    color: var(--main-font-color);
    font-weight: 200;
}

a:hover {
    opacity: 0.5;
}

.fa-file-pdf{
    font-size: 2rem;
    margin-left: 40px;
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.6rem;

    }
}

@media(max-width: 360px) {
    header {
        flex-direction: column;
        align-items: center;
        position: absolute;
        min-width: 350px;
    }

    header a {
        margin-bottom: 30px;
    }

    nav ul li a {
        font-size: 1.2rem;

    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-160px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* bannerArea */

.banner-area {
    width: 100%;
    height: 100vh;
    background: url("./../images/b1.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-area h1 {
    color: white;
    font-size: 50px;
    animation: drop 1.5s ease;
}

.banner-area p {
    text-indent: 50px;
    text-align: center;
    padding: 20px 250px;
    font-size: 15px;

}

.arrow {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    align-items: flex-end;
    height: 20%;
}

.arrow a {
    opacity: 0.2;
    color: #F8F8F8;
}

.arrow a:hover {
    opacity: 0.6;
    transition: 0.6s ease-in;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-160px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tiles Section */

.tiles-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.tiles-section h2{
    font-size: 4rem;
    color: #262626;
}

.tiles{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.tile{
    border-radius: 15%;
    background-color: #009bd6;
}

.tile a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
    color: white;
}

.fa-file-contract,
.fa-file-invoice-dollar,
.fa-file-word,
.fa-book{
    font-size: 10rem;
    color: white;
    padding: 70px;
}

.fa-laptop{
    font-size: 10rem;
    color: white;
    padding: 70px 60px;
}

/* tables */
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.header-table h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 40px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    background: #00A6FB;
    font-size: 21px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #00A6FB;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.back-section{
    margin: 20px 0 50px 0;
}

.back-section a{
    font-size: 2rem;
    padding: 20px;
}

input:focus {
    outline-offset: -2px;
}

#searchInput {
    width: 18%;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;

}


/*searchbar invoice*/

.searchbar-section{
    width: 90vw;
    margin: auto;
}

.searchbar-section-equipment{
    width: 30vw;
    margin: auto;
}

.searchbar-section-documents{
    width: 70vw;
    margin: auto;
}

.searchbar-section-license{
    width: 40vw;
    margin: auto;
}

input[type="search"],
select,
input[type="date"]{
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #e0e0e5;
    font-size: 2rem;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
.dates-filters{
    display: flex;
    align-items: center;
    justify-content: center;
}


.see-all{
    font-size: 1.15rem;
}

input[type="search"]:focus,
select:focus{
    transition: all 0.5s;
    box-shadow: 0 0 10px #00A6FB;
    border-color: #00A6FB;
    outline: none;
}

.select-width{
    min-width: 70px;
}

label{
    font-size: 1.5rem;
    margin-right: 10px;
}

.submit-button{
    margin-top: 40px;

}
input[type="submit"]{
    font-size: 1.5rem;
    color: white;
    padding: 10px 20px;
}

input.search-field,
select.search-field{
    font-size: 1.3rem;
    height: 50px;
    margin-top: 0;
}

.search-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Responsive */

@media (max-width: 900px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}